SECRET_KEY=cambia_esta_clave_secreta
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=optica_db
MYSQL_PORT=3306
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=contraseña_de_aplicacion_gmail
